{erl_opts, [
           debug_info,
           {parse_transform, lager_transform},
           warnings_as_errors
           ]}.
{deps, [
    {riak_ensemble, {git, "https://github.com/getong/riak_ensemble_ng", {branch, "add_improvement"}}},
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}}
]}.

{relx, [{release, { riak_ensemble_ng_demo, "0.1.0" },
	[riak_ensemble_ng_demo,
	sasl]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
	{include_erts, true}]}]
	    }]
}.
